<div class="well">
  <strong>View Modes: </strong>
  <div class="btn-group btn-group-view-type">
    {{#link-to 'episodes.page' 1 tagName="button" classNames="btn btn-default"}}
      Paginated
    {{/link-to}}
    {{#link-to 'episodes.list' tagName="button" classNames="btn btn-default"}}
      Endless Scroll
    {{/link-to}}
  </div>
</div>

