<div class="row">
    <div class="col-md-9">
        <div class="episodes">
            <div class="row">
                <div class="col-md-12">
                    {{ paginate-collection }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ partial 'episodes/episodes' }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ paginate-collection }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {{ partial 'episodes/sidebar' }}
    </div>
</div>
