/* Put your CSS here */
html, body {
    margin: 20px;
}

.media-episode{
  margin-bottom: 30px;
}

.text-muted{
  cursor: pointer;
}

.comment{
  margin-top: 0px;
}

.comment-content{
  padding: 5px;
  min-height: 60px;
  margin-bottom: 0px;
};
